.banner  {
    background-color: var(--primary);  
    color: white;
    font-family: Poppins;
    align-items: center;
    height: 560px;
}
.b {
    flex-direction: row ; 
    display: flex;
    padding: 40px 0;
}
.slogan{
    font-weight: 600;
    font-size: 54px;
    line-height: 74px;
    color: white;
    margin-left: 3px;
}
.subslogan {
    font-weight: 400;
    size: 16px;
    line-height: 28px;
    width: 562px;
    height: 56px;
    opacity: 70%;
    margin-left: 3px;
    padding-top: 20px;
    margin-bottom: 75px;
}
.banner img {
    width: 100%;
    margin-right: 200px;
}
.button {
    background-color: #FCD980;
    width: 230px;
    height: 64px;
    color: black;
    margin-right: 40px;
    padding: 16px 56px 16px 56px;
    gap: 10px;
    border-radius: 41px;
    opacity: 0px;
}
.buttonvsarrow {
     color: white;
     width: 138px;
     height: 28px;
     top: 586px;
     left: 430px;
     gap: 0px;
     opacity: 0px;
}
.arrow {
    transform: translateY(2px);
    margin-right: 250px;
}

.blackslogan{
    font-weight: 600;
    font-size: 54px;
    line-height: 74px;
    color: black;
    margin-left: 3px;
}
.work {
    font-family: Poppins;
    font-weight: 600;
    font-size: 54px;
    line-height: 74px;
    color: black;
    margin-left: 3px;
    width: 405px;
    margin-top: 38px;
    margin-left: 136px;
    gap: 0px;
    opacity: 0px;
    width: 405px;
}