.banner {
  background-color: var(--primary);

  font-family: Poppins;
  align-items: center;
  height: 560px;
}
.b {
  flex-direction: row;
  display: flex;
  padding: 40px 0;
}
.slogan {
  font-weight: 600;
  font-size: 54px;
  line-height: 74px;
  color: white;
  margin-left: 3px;
}
.subslogan1 {
  color: white;
  font-weight: 400;
  size: 16px;
  line-height: 28px;
  width: 562px;
  height: 56px;
  opacity: 70%;
  margin-left: 3px;
  padding-top: 20px;
  margin-bottom: 75px;
}
.banner img {
  width: 100%;
  margin-right: 200px;
}
.buttonvsarrow {
  color: white;
  width: 138px;
  height: 28px;
  top: 586px;
  left: 430px;
  gap: 0px;
  opacity: 0px;
}
.arrow1 {
  transform: translateY(2px);
  margin-right: 50px;
}
.work {
  font-family: Poppins;
  color: black;
  height: 661px;
  background-color: #f4f6fc;
   display: flex;
  align-items: center;
  text-align: center;
}

.slogan2 {
  font-weight: 900;
  font-size: 50px;
  line-height: 74px;
}
.subslogan2 {
  color: black;
  margin-left: 75px;
  line-height: 28px;
  width: 340px;
  height: 56px;
  opacity: 0.7;
  padding-top: 20px;
  margin-bottom: 75px;
  font-size: 16px;
  font-weight: 400;
}
.getin {
  display: flex;
}
.getin h6 {
  color: #2405f2;
  margin-left: 75px;
  width: 244px;
  height: 32px;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  margin-top: -35px;
}
.cards {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start; 
  gap: 20px;
}



.arrow2 {
  color: #2405f2;
  width: 244px;
  height: 32px;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin: -35px 0px 0px -110px;
 
}
