:root {
  --primary: #1c1e54;
}

@font-face {
  font-family: Poppins;
  src: url("../Fonts/Poppins/Poppins-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}


